@font-face {
  font-family: Sora;
  src: url(/home/Max/Documentos/projetos/Questao2/src/_assets/fonts/sora/Sora-Regular.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  margin: 0%;
  top: 100%;
  width: 100%;
  color: white;
  
  
}
.App {
  display: flex;
  flex-direction: column;
  width:fit-content;

  
}




